<div>
  <ion-card-content>
    <ion-item lines="none" class="debug-header">
      <ion-card-title>Debug Information</ion-card-title>
      <ion-icon
        (click)="dismissModal()"
        name="close-circle"
        color="medium"
        size="large"
        slot="end"
      ></ion-icon>
    </ion-item>

    <!-- Scrollable Segment -->
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="general">
        <ion-label>General</ion-label>
      </ion-segment-button>
      <ion-segment-button value="trajectories">
        <ion-label>Trajectories</ion-label>
      </ion-segment-button>
      <ion-segment-button value="device">
        <ion-label>Device</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="ion-padding-top" *ngIf="segment === 'general'">
      <p><b>Location tracking enabled: </b> {{ trackingRunning }}</p>
      <p><b>Notifications enabled: </b> {{ notificationsEnabled }}</p>
    </div>

    <div class="ion-padding-top" *ngIf="segment === 'trajectories'">
      <p *ngIf="loading">Loading...</p>
      <div *ngIf="!loading">
        <p><b>Total number of trajectories: </b> {{ trajectories.length }}</p>
        <p><b>Imported trajectories: </b> {{ importedTrajectories.length }}</p>
      </div>

      <h4 class="ion-padding-top">User Trajectory</h4>
      <p *ngIf="!userTrajectory">No user trajectory available</p>
      <div *ngIf="userTrajectory">
        <p><b>Total points: </b> {{ userTrajectory.coordinates.length }}</p>
        <p><b>Last Record:</b></p>
        <p>
          Timestamp:
          {{
            userTrajectory.timestamps[userTrajectory.timestamps.length - 1]
              | json
          }}
        </p>
        <p>
          Position:
          {{
            userTrajectory.coordinates[userTrajectory.coordinates.length - 1]
              | json
          }}
        </p>
        <p>
          Accuracy:
          {{
            userTrajectory.accuracy[userTrajectory.accuracy.length - 1] | json
          }}
          m
        </p>
        <p>
          Speed:
          {{ userTrajectory.speed[userTrajectory.speed.length - 1] | json }}
          m/s
        </p>
        <p>
          Point type:
          {{ userTrajectory.state[userTrajectory.state.length - 1] | json }}
        </p>
      </div>
    </div>

    <div class="ion-padding-top" *ngIf="segment === 'device'">
      <h2>App Info</h2>
      <p><b>App Version: </b>{{ appInfo?.version }} ({{ appInfo?.build }})</p>
      <p><b>App Name: </b>{{ appInfo?.name }}</p>
      <p><b>App ID: </b>{{ appInfo?.id }}</p>

      <h2 class="ion-padding-top">Device Info</h2>
      <p><b>Manufacturer: </b>{{ deviceInfo?.manufacturer }}</p>
      <p><b>Model: </b>{{ deviceInfo?.model }}</p>
      <p><b>Name: </b>{{ deviceInfo?.name }}</p>
      <p><b>Platform: </b>{{ deviceInfo?.platform }}</p>
      <p>
        <b>OS: </b>{{ deviceInfo?.operatingSystem }} {{ deviceInfo?.osVersion }}
      </p>
      <p><b>WebView-Version: </b>{{ deviceInfo?.webViewVersion }}</p>
      <p><b>Is Virtual: </b>{{ deviceInfo?.isVirtual }}</p>

      <h2 class="ion-padding-top">Storage/Memory</h2>
      <p>
        <b>Free Storage: </b>{{ deviceInfo?.realDiskFree | formatFileSize }}
      </p>
      <p>
        <b>Total Storage: </b>{{ deviceInfo?.realDiskTotal | formatFileSize }}
      </p>
      <p><b>Used Memory: </b>{{ deviceInfo?.memUsed | formatFileSize }}</p>
    </div>
  </ion-card-content>
</div>
