ion-card-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow-y: hidden;
}

ion-card-content {
  overflow: hidden;
}

.history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > h4 {
    margin-bottom: 16px;
  }
}

.history-container {
  overflow-x: scroll;
  > div {
    min-width: 800px;
  }
}
