<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12" sizeLg="6">
        <app-item-card
          [disabled]="!locationService.isSupportedPlatform"
          icon="play-circle"
          title="Toggle location tracking"
          subtitle="{{state}}"
          (click)="toggleBackgroundGeoLocation()"
        ></app-item-card>
        <ion-note *ngIf="!locationService.isSupportedPlatform">
          This platform doesn't support background location tracking
        </ion-note>
        <ion-note *ngIf="platform.is('android')">
          In order for this app to work correctly, you should disable battery
          optimizations in the settings for this app. For more information check
          <a href="https://dontkillmyapp.com">this site</a>.
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v9'"
      [zoom]="[12]"
      [center]="center"
      (load)="onMapLoad($event)"
    >
      <mgl-geojson-source id="coordinates">
        <mgl-feature [geometry]="geometry"> </mgl-feature>
      </mgl-geojson-source>
      <mgl-layer
        id="coordinates"
        type="circle"
        source="coordinates"
        [paint]="{
          'circle-color': '#800080',
          'circle-radius': 4
        }"
      >
      </mgl-layer>
    </mgl-map>
  </ion-card>
</ion-content>
