<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create new entry</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Content</ion-label>
    <ion-textarea
      auto-grow
      placeholder="Enter your thoughts..."
      value=""
    ></ion-textarea>
  </ion-item>
</ion-content>
