<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'general.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'privacyPolicy.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12" sizeLg="6">
        <ion-note>
          <b [innerHTML]="'privacyPolicy.controllerTitle' | translate"></b>
          <p [innerHTML]="'privacyPolicy.controllerInfoText' | translate"></p>
          <p [innerHTML]="'privacyPolicy.responsibleInfoText' | translate"></p>
          <b
            [innerHTML]="'privacyPolicy.dataProtectionOfficerTitle' | translate"
          ></b>
          <p
            [innerHTML]="'privacyPolicy.dataProtectionOfficerText' | translate"
          ></p>
          <b [innerHTML]="'privacyPolicy.dataProcessingTitle' | translate"></b
          ><br /><br />
          <b
            [innerHTML]="'privacyPolicy.dataProcessingsScopeTitle' | translate"
          ></b>
          <p
            [innerHTML]="'privacyPolicy.dataProcessingsScopeText' | translate"
          ></p>
          <p [innerHTML]="'privacyPolicy.dataProcessingsScope' | translate"></p>
          <b
            [innerHTML]="'privacyPolicy.dataProcessingPurposesTitle' | translate"
          ></b>
          <p
            [innerHTML]="'privacyPolicy.dataProcessingPurposesText' | translate"
          ></p>
          <b
            [innerHTML]="'privacyPolicy.dataProcessingLegalBasisTitle' | translate"
          ></b>
          <p
            [innerHTML]="'privacyPolicy.dataProcessingLegalBasisText' | translate"
          ></p>
          <b
            [innerHTML]="'privacyPolicy.dataProcessingFurtherRecipientsTitle' | translate"
          ></b>
          <p
            [innerHTML]="'privacyPolicy.dataProcessingFurtherRecipientsText' | translate"
          ></p>
          <b
            [innerHTML]="'privacyPolicy.dataProcessingDurationStorageDataTitle' | translate"
          ></b>
          <p
            [innerHTML]="'privacyPolicy.dataProcessingDurationStorageDataText' | translate"
          ></p>
          <b [innerHTML]="'privacyPolicy.accessStorageTitle' | translate"></b>
          <p [innerHTML]="'privacyPolicy.accessStorageText' | translate"></p>
          <b [innerHTML]="'privacyPolicy.changesTitle' | translate"></b>
          <p [innerHTML]="'privacyPolicy.changesText' | translate"></p>
          <p [innerHTML]="'privacyPolicy.dateTitle' | translate"></p>
          <p [innerHTML]="'privacyPolicy.dateText' | translate"></p>
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
