<ion-card button [disabled]="disabled">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col *ngIf="icon" size="auto">
        <ion-icon size="large" [name]="icon" style="padding: 5px"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-card-title *ngIf="title">{{ title }}</ion-card-title>
        <ion-card-subtitle *ngIf="subtitle">{{ subtitle }}</ion-card-subtitle>
        <ion-card-header *ngIf="date"
          ><ion-card-subtitle color="dark">{{ date }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="content">{{ content }}</ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
