/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-modal.auto-height {
  &.bottom {
    align-items: flex-end;
  }

  --height: auto;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 95vh;
      overflow: auto;
      padding: 10px;
    }
  }
}

.md ion-back-button {
  // hide back-button-text on non-iOS-devices
  font-size: 0px !important;
}

// trajectory delete alert
// delete button in red
.alert-wrapper .danger {
  color: var(--ion-color-danger);
}

@import '~leaflet/dist/leaflet.css';

div.inference-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);

  &.work {
    border: 2px solid #fca311;
  }
  &.home {
    border: 2px solid #347d39;
  }
  &.poi {
    border: 2px solid #68347d;

    &.predicted {
      box-shadow: 0 0 0 6px #68347d46;
    }
  }

  ion-icon {
    font-size: 20px;

    &.inference-work {
      color: #fca311;
    }
    &.inference-home {
      color: #347d39;
    }
    &.inference-poi {
      color: #68347d;
    }
  }
}

ion-toast {
  &.work {
    --color: white;
    --background: #fca311;
  }
  &.home {
    --color: white;
    --background: #347d39;
  }
  &.poi {
    --color: white;
    --background: #68347d;
  }
}
