<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'general.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="isModal" slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!id || id === 'new'">{{
      'diary.createEntryTitle' | translate
    }}</ion-title>
    <ion-title *ngIf="id && id !== 'new'">{{
      'diary.updateEntryTitle' | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="!content || content.length === 0"
        (click)="saveEntry()"
      >
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">{{
      'diary.dateTitle' | translate
    }}</ion-label>
    <ion-input
      class="dateInput"
      type="date"
      [ngModel]="date | date: 'yyyy-MM-dd'"
      (ionInput)="changeDate($event)"
    ></ion-input>
  </ion-item>
  <ion-item *ngIf="loaded">
    <ion-label position="stacked">{{
      'diary.contentTitle' | translate
    }}</ion-label>
    <ion-textarea
      autoGrow="true"
      inputmode="text"
      [placeholder]="'diary.contentPlaceholder' | translate"
      [value]="content"
      [(ngModel)]="content"
    ></ion-textarea>
  </ion-item>
</ion-content>
