<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760522136731-b43f0aqu7hov473k878raisdgan5bfal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760522136731-b43f0aqu7hov473k878raisdgan5bfal</string>
	<key>API_KEY</key>
	<string>AIzaSyDd64qBX9gcDKQMsVSSgjbzhcKmFYvtPgo</string>
	<key>GCM_SENDER_ID</key>
	<string>760522136731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.fh-muenster.simport.learning</string>
	<key>PROJECT_ID</key>
	<string>learning-tool-119f1</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-tool-119f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760522136731:ios:8b5a171e6291e0e459ba3e</string>
</dict>
</plist>