<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'general.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'settings.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12" sizeLg="6">
        <app-item-card
          title="{{ 'imprint.title' | translate }}"
          icon="information-circle-outline"
          (click)="toImprint()"
        >
        </app-item-card>
        <app-item-card
          title="{{ 'licenses.title' | translate }}"
          subtitle="{{ 'licenses.subtitle' | translate }}"
          icon="document-text-outline"
          (click)="toOpenSources()"
        ></app-item-card>
        <app-item-card
          title="{{ 'privacyPolicy.titleShort' | translate }}"
          icon="shield-checkmark"
          (click)="toPrivacyPolicy()"
        ></app-item-card>
        <app-item-card
          *ngIf="featureFlagService.hasAlternativeFeatureFlags"
          [disabled]="featureFlagService.featureFlags.canSwitchAppMode !== true"
          title="{{ 'appMode.title' | translate }}"
          subtitle="{{ (featureFlagService.useAlternativeFeatureFlags ? 'appMode.subtitleModeB' : 'appMode.subtitleModeA') | translate }}"
          icon="{{ featureFlagService.useAlternativeFeatureFlags ? 'invert-mode-outline' : 'invert-mode' }}"
          (click)="askToSwitchAppMode()"
        ></app-item-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
